<div>
    <page-title title="Character detail" subtitle="{{ character.name }}"></page-title>
    <nz-skeleton *ngIf="isLoading" [nzActive]="true"></nz-skeleton>
    <div *ngIf="!isLoading && !didError">
        <nz-descriptions nzTitle="All about <{{ character.name }}>" nzBordered class="p-8" [nzExtra]="actions">
            <nz-descriptions-item nzTitle="Name">{{ character.name }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Weight">{{ character.weight }}kg</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Color hair">{{ character.colorHair }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Origin planet">{{ character.originPlanet }}</nz-descriptions-item>
        </nz-descriptions>
        <ng-template #actions>
            <button nz-button nzType="primary">
                <i nz-icon nzType="edit"></i>
                Edit
            </button>
        </ng-template>
    </div>
    <nz-alert *ngIf="!isLoading && didError" nzType="error" nzCloseable nzMessage="Error" nzDescription="Unable to find a character"></nz-alert>
</div>